.container {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    max-width: 798px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1230px;
  }
}
